<div class="container">

  <div class="row my-4">
    <div class="col-auto">
      <a class="btn btn-primary" href="/products/create"><i class="fas fa-plus"></i> Add new Product</a>
    </div>
    <div class="col-auto ms-auto">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">View</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
              <th scope="col">Count</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <th scope="row">{{increase @index}}</th>
              <td><a class="btn btn-primary" href="/products/read/{{this._id}}"><i class="far fa-eye"></i></a></td>
              <td>{{this.name}}</td>
              <td>{{this.price}}</td>
              <td><img src="{{this.img}}" alt="{{this.name}}" width="48" height="48"></td>
              <td>{{this.count}}</td>
              <td><a class="btn btn-primary" href="/products/update/{{this._id}}"><i class="far fa-edit"></i></a></td>
              <td>
                <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{this._id}}"><i class="far fa-trash-alt"></i></button>
                <div class="modal fade" id="deleteModal{{this._id}}" tabindex="-1" aria-labelledby="deleteModal{{this._id}}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal{{this._id}}Label">Delete Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete "{{this.name}}"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <a class="btn btn-danger" href="/products/delete/{{this._id}}">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <p class="my-3">{{products.length}}
